<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>CodePen - Animated Login Form using Html &amp; CSS Only</title>
  </head>

  <body>
    <!-- partial:index.partial.html -->

    <section>
      

      <form [formGroup]="userForms" (ngSubmit)="submitHandler()" class="signin">
        <div class="content">
          <h2>Please Sign Up</h2>

          <div class="form">
            <div class="inputBox">
              <input type="text" formControlName="username" />
              <i>Username</i>
              <div
                *ngIf="
                  userForms.controls['username'].invalid &&
                  userForms.controls['username'].touched
                "
              >
                <div
                  class="error"
                  *ngIf="userForms.controls['username'].errors?.['required']"
                >
                  Username is required
                </div>
                <div
                  class="error"
                  *ngIf="userForms.controls['username'].errors?.['minlength']"
                >
                  Username must be at least 5 characters long
                </div>
              </div>
            </div>

            <div class="inputBox">
              <input type="text" formControlName="email" />
              <i>Email Id</i>
              <div
                *ngIf="
                  userForms.controls['email'].invalid &&
                  userForms.controls['email'].touched
                "
                class="error"
              >
                <div *ngIf="userForms.controls['email'].errors?.['required']">
                  Email is required
                </div>
                <div *ngIf="userForms.controls['email'].errors?.['email']">
                  Invalid email format
                </div>
              </div>
            </div>

            <div class="inputBox">
              <input type="text" formControlName="phone" />
              <i>Phone Number</i>
              <div
                *ngIf="
                  userForms.controls['phone'].invalid &&
                  userForms.controls['phone'].touched
                "
                class="error"
              >
                <div *ngIf="userForms.controls['phone'].errors?.['required']">
                  Phone number is required
                </div>
                <div *ngIf="userForms.controls['phone'].errors?.['pattern']">
                  Invalid phone number format
                </div>
              </div>
            </div>

            <div class="inputBox">
              <input type="password" formControlName="password" />
              <i>Password</i>
              <div
                *ngIf="
                  userForms.controls['password'].invalid &&
                  userForms.controls['password'].touched
                "
                class="error"
              >
                <div
                  *ngIf="userForms.controls['password'].errors?.['required']"
                >
                  Password is required
                </div>
                <div
                  *ngIf="userForms.controls['password'].errors?.['minlength']"
                >
                  Password must be at least 8 characters long
                </div>
                <div *ngIf="userForms.controls['password'].errors?.['pattern']">
                  Password must contain an uppercase letter, a lowercase letter,
                  a number, and a special character
                </div>
              </div>
            </div>

            <div class="links">
              <a href="#"></a>
              <a href="#">Sign In</a>
            </div>

            <div class="inputBox">
              <input type="submit" value="Sign Up" />
            </div>
          </div>
        </div>
      </form>
    </section>
    <!-- partial -->
  </body>
</html>
